SERVICE_NAME=tool-box-public
IMAGE=crpi-02k3y8iudey5q0vb.cn-shanghai.personal.cr.aliyuncs.com/mirror_ns/tool_box:2026.04.22.3
HOST_PORT=3000
DATABASE_URL=postgresql+psycopg2://USER:PASSWORD@HOST:5432/DB?sslmode=prefer
EXTERNAL_PUBLIC_IP=47.116.180.173
BACKEND_CORS_ORIGINS=["http://47.116.180.173","https://47.116.180.173","http://localhost","http://127.0.0.1"]
